@import "vars";
@import "validations";
@import "status";
@import "comments";

a { color: $mainColorLink;transition: 1s all; }
ul{ list-style: none;overflow: hidden; }
//html { scroll-behavior: smooth; }
html, body { height: 100%; }

body{
    font-family: $mainFont;
    background-color: $mainBackgroundColor;
    color: $mainColor;
    scroll-behavior: smooth !important;
}

.wrapper{
    width: 100%;
    min-height: 100%;
    position: relative;
}

.content{
    background: $contentBackgroundColor;
    max-width: 1480px;
    min-height: 500px;

    padding: 25px;
    margin: 15px auto 50px;

    border-radius: 2px;
    overflow: hidden;
}

@media screen and (min-width: $desktopWidth){

    body{
        font-size: $mainFontSize;
    }

    .content {
        width: 60%;
    }
    .table {

    }
}

@media screen and (max-width: $desktopWidth) {

    body{
        font-size: $mainFontSize;
    }

    .content {
        width: 80%;
    }
    .table {

    }
}

@media screen and (max-width: $smDesktopWidth) {

    body{

    }

    .content {
        width: 90%;
    }
    .table {

    }
}

@media screen and (max-width: $tableWidth) {

    body{
        font-size: $mainFontSizeTable;
    }

    .content {
        width: 100%;
    }
    .table {
        span, p, a, td, th{
            font-size: 12px !important;
        }
    }
}

@media screen and (max-width: $phoneWidth) {

    body{
        font-size: $mainFontSizePhone;
    }

    .content {
        width: 100%;
    }
    .table {
        span, p, a, td, th{
            font-size: 9px !important;
        }
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    //border: solid 1px #bababa;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f3f3f3;
    //background: #3e3e3e;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #5888bb;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    //background: #c9c9c9;
    background: #888;
}
