.status-performed {
    color: #62ac6c;
    font-size: 19px;
    font-style: italic;
}

.status-completed {
    color: #d68b46;
    font-size: 19px;
    font-style: italic;
}

.status-untouched {
    color: #5e8fe7;
    font-style: italic;
    font-size: 19px;
}

.status-rejected {
    color: #ff150e;
    font-style: italic;
    font-size: 19px;
}
